<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="adminstyles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-audible'></i>
      <span class="logo_name"> Admin Dashboard</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="view_applicants.html">
            <i class='bx bx-box' ></i>
            <span class="links_name">View Leave Applicants</span>
          </a>
        </li>
        <form action="admin.html" method="POST">
        <li>
          <a href="calender.html">
            <i class='bx bx-calendar' ></i>
            
            <span class="links_name">Calender</span>
          
          </a>
        </li>
      </form>
        <li>
          <a href="semester.html">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Semester</span>
          </a>
        </li>
        <li class="log_out">
          <a href="login.html">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Leave Application Management System </span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Admin</span>
        <!-- <i class='bx bx-chevron-down' ></i> -->
      </div>
    </nav>
    <div id="app">
      <div class="container">
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <div class="text-right">
          <a class="btn btn-info btn-sm">Add</a>
        </div>
        <table class="table mt-2">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>  
              <th>Surname</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-else v-for="(c,k) in cadastros">
              <td>421</td>
              <td>pranysaiteja</td>
              <td>soppadandi</td>
              <td>pranay@gmail.com</td>
              <td>
                <a class="btn btn-warning text-danger btn-sm">Edit</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            <tr v-else v-for="(c,k) in cadastros">
              <td>422</td>
              <td>Anupama</td>
              <td>Munagapati</td>
              <td>anupama@gmail.com</td>
              <td>
                <a class="btn btn-warning text-danger btn-sm">Edit</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            <tr v-else v-for="(c,k) in cadastros">
              <td>423</td>
              <td>Joshasree</td>
              <td>Maturi</td>
              <td>joshasree@gmail.com</td>
              <td>
                <a class="btn btn-warning text-danger btn-sm">Edit</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            <tr v-else v-for="(c,k) in cadastros">
              <td>424</td>
              <td>Suvarna</td>
              <td>V</td>
              <td>suvarna@gmail.com</td>
              <td>
                <a class="btn btn-warning text-danger btn-sm">Edit</a>
              </td>
              <td>
                <a class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>